<!-- Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" aria-labelledby="detailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h5 class="modal-title fs-5">模板名称：<span id="tenplateName"></span></h5>
            </div>
            <div class="modal-body py-0">
                <div class="row">
                    <table class="table table-striped" data-toggle="table" id="price_template_details">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">开始时间</th>
                                <th scope="col">结束时间</th>
                                <th scope="col">对应时段</th>
                                <th scope="col">买入电价</th>
                                <th scope="col">卖出电价</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>22</td>
                                <td>33</td>
                                <td>44</td>
                                <td>55</td>
                            </tr>
                            @*@for (int i = 0; i < @Model.Count; i++) {
                                <tr>
                                    <th scope="row">@(i+1)</th>
                                    <td>@Model[i].Name</td>
                                    <td>@Model[i].Tag</td>
                                    <td>@Model[i].CreaterName</td>
                                    <td>@Model[i].CreateTime.ToString("yyyy/MM/dd")</td>
                                    <td>
                                        <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#detailModal" data-id="@Model[i].Id">查看</button>
                                        <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#binding" data-id="XXX">主动绑定</button>
                                        <a class="btn btn-outline-primary btn-sm" asp-controller="TemplateManagement" asp-action="EditPriceTemplate" asp-route-id="@Model[i].Id">编辑</a>
                                        <button class="btn btn-outline-primary btn-sm" onclick="deletePriceTemplate(@Model[i].Id)">删除</button>
                                    </td>
                                </tr>
                            }*@

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
                <button type="button" class="btn btn-lg btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
