@using IAMS.Models.PowerStation;
@using IAMS.Models.StationSystem;
@model IAMS.ViewModels.StationSystem.StationSystemIndexViewModel

@await Html.PartialAsync("_PowerStationAndCabinetSelector",Model.PowerStationInfos)

<div class="row pt-3">
    <div class="col-9">
        <div class="card">
            <div class="card-header">
                <strong>实时数据</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="bd-example m-0 border-0">
                            <div class="alert alert-light" role="alert">
                                <p>今日充电量</p>
                                <p><strong class="fs-3">@Model.DailyChargeAmount</strong>kWh</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bd-example m-0 border-0">
                            <div class="alert alert-light" role="alert">
                                <p>今日放电量</p>
                                <p><strong class="fs-3">@Model.DailyDischargeAmount</strong>kWh</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bd-example m-0 border-0">
                            <div class="alert alert-light" role="alert">
                                <p>累计充电量</p>
                                <p><strong class="fs-3">@Model.ACCumulativeChargeAmount</strong>kWh</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bd-example m-0 border-0">
                            <div class="alert alert-light" role="alert">
                                <p>累计放电量</p>
                                <p><strong class="fs-3">@Model.ACCumulativeDischargeAmount</strong>kWh</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="bd-example m-0 border-0">
                            <div class="alert alert-light" role="alert">
                                <p>电池堆SOC</p>
                                <p><strong class="fs-3">@Model.SOC</strong>%</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-5">
                        <div class="card h-100">
                            <div class="card-header">
                                <div class="row">
                                    <h6 class="d-flex justify-content-between align-items-center">
                                        <span class="text-primary">运行状态</span>
                                    </h6>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 order-md-last">
                                        <ul class="list-group mb-3">
                                            <li class="list-group-item d-flex justify-content-between lh-base">
                                                <div>
                                                    <h6 class="my-0">电网：</h6>
                                                </div>
                                                <span class="text-body-secondary">@Model.PowerGrid kW</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between lh-base">
                                                <div>
                                                    <h6 class="my-0">负载：</h6>
                                                </div>
                                                <span class="text-body-secondary">@Model.Load kW</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between lh-base">
                                                <div>
                                                    <h6 class="my-0">储能：</h6>
                                                </div>
                                                <span class="text-body-secondary">@Model.EnergyStorage kW</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="card h-100">
                            <div class="card-header">
                                <div class="row">
                                    <h6 class="d-flex justify-content-between align-items-center">
                                        <span class="text-primary">功率趋势</span>
                                    </h6>
                                </div>

                            </div>
                            <div class="card-body">
                                <div class="col-12" id="power_trend" style="height:400px;">
                                </div>
                            </div>
                            @* <div class="card-body">
                                <div class="row g-3">
                                <div class="col-auto">
                                最大充电功率：<strong>@Model.MaximumAllowedChargePower.ToString("F2")</strong> kW
                                </div>
                                <div class="col-auto">
                                最大放电功率：<strong>@Model.MaximumAllowedDischargePower.ToString("F2")</strong> kW
                                </div>
                                <div class="col-auto">
                                最大负载功率：<strong>XXX</strong> kW
                                </div>
                                </div>
                                <div class="row p-2">

                                </div>
                                </div> *@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card h-100">
            <div class="card-header">
                <div class="row">
                    <div class="col-7">
                        <h6>告警状态</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 order-md-last">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th>名称</th>
                                    <th>状态</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var device in @Model.deviceStatus) {
                                    <tr>
                                        <td>@device.devName</td>
                                        <td>@device.status</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <strong>实时运行</strong>
            </div>
            <div class="card-body">
                @* <div class="row">
                    <div class="col-9">
                    <div class="row g-3">
                    <div class="col">
                    <select id="example-select" class="selectpicker fw-bold w-100" data-live-search="true" multiple>
                    <option selected>PCS#1</option>
                    <option>PCS#2</option>
                    <option>PCS#3</option>
                    <option>PCS#4</option>
                    </select>
                    </div>
                    <div class="col">
                    <select id="example-select" class="selectpicker fw-bold w-100" data-live-search="true" multiple>
                    <option selected>PCS#1</option>
                    <option>PCS#2</option>
                    <option>PCS#3</option>
                    <option>PCS#4</option>
                    </select>
                    </div>
                    <div class="col">
                    <select id="example-select" class="selectpicker fw-bold w-100" data-live-search="true" multiple>
                    <option selected>PCS#1</option>
                    <option>PCS#2</option>
                    <option>PCS#3</option>
                    <option>PCS#4</option>
                    </select>
                    </div>
                    </div>
                    <div class="row pt-3 g-3">
                    <div class="col">
                    <select id="example-select" class="selectpicker fw-bold w-100" data-live-search="true" multiple>
                    <option selected>PCS#1</option>
                    <option>PCS#2</option>
                    <option>PCS#3</option>
                    <option>PCS#4</option>
                    </select>
                    </div>
                    <div class="col">
                    <select id="example-select" class="selectpicker fw-bold w-100" data-live-search="true" multiple>
                    <option selected>PCS#1</option>
                    <option>PCS#2</option>
                    <option>PCS#3</option>
                    <option>PCS#4</option>
                    </select>
                    </div>
                    <div class="col">
                    <select id="example-select" class="selectpicker fw-bold w-100" data-live-search="true" multiple>
                    <option selected>PCS#1</option>
                    <option>PCS#2</option>
                    <option>PCS#3</option>
                    <option>PCS#4</option>
                    </select>
                    </div>
                    </div>
                    </div>
                    <div class="col-3">
                    <button type="button" class="btn btn-primary h-100 w-100">查询</button>
                    </div>
                    </div> *@

                <div class="row pt-3">
                    <span class="fs-sm fw-bold">
                        运行曲线
                    </span>
                </div>
                <div class="row pt-3">
                    <div class="col-12" id="real_time_chart" style="height:600px;border-right: 2px solid #ccc;">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<div class="row pt-3">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <strong>实时电量收益</strong>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-auto d-flex  align-items-center">
                        <span>日期：</span>
                    </div>
                    <div class="col-2 d-flex  align-items-center">
                        <input class="w-100" type="text" id="datepicker" placeholder="选择日期">
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary">查询</button>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-secondary">重置</button>
                    </div>
                </div>

                <div class="row pt-3">
                    <span class="fs-sm fw-bold">
                        运行曲线
                    </span>
                </div>
                <div class="row pt-3">
                    <table class="table table-sm table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td colspan="2">Larry the Bird</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

</div>
@section Scripts{
<script>
    var cabinetName = document.getElementById('energy_storage_cabinet_name').value;
    var baseUrl = '@Url.Action("GetPowerTrendChartData", "StationSystem")';
    var InitPowerTrend = `${baseUrl}?energyStorageCabinetName=${encodeURIComponent(cabinetName)}`;

    var baseUrlRealTime = '@Url.Action("GetRealTimeChartData", "StationSystem")';
    var InitRealTimeTrend = `${baseUrlRealTime}?energyStorageCabinetName=${encodeURIComponent(cabinetName)}`;
</script>
<script src="~/js/StationSystem/init_power_trend.js"></script>
<script src="~/js/StationSystem/real_time_chart.js"></script>
<script>

    $(document).ready(function () {
        flatpickr("#datepicker", {
            dateFormat: "Y-m-d", // 设置日期格式为 YYYY-MM-DD
            defaultDate: null,   // 默认为空
        });
        $('.selectpicker').selectpicker();

        $('#energy_storage_cabinet_name').change(function() {
            var val = $(this).val();
            if (val) { // 如果val不为空
                // 跳转到StationSystemController的Index操作，传递参数
                window.location.href ='@Url.Action("Index", "StationSystem")?energyStorageCabinetName=' + encodeURIComponent(val);
            }
        });
    });


</script>
    }
