@model List<IAMS.Models.PowerStation.PowerStationInfo>

<div class="row">
    <div class="row pt-2">
        <div class="col-11">
            <p class="h5">电站管理 </p>
        </div>
        <div class="col-1 ">
            <a asp-controller="PowerStationManagement" asp-action="AddPowerStation" class="btn btn-primary d-inline-flex align-items-center">
                创建电站
            </a>
        </div>
    </div>
</div>

<div class="row pt-3">
    <div class="col-12">
        <table id="table" class="table table-responsive"
               data-toggle="table"
               data-search="true"
               data-pagination="true">
            <thead class="thead-light">
                <tr>
                    <th>序号</th>
                    <th>电站名称</th>
                    <th>系统数量</th>
                    <th>装机功率（MW）</th>
                    <th>装机容量（MWh）</th>
                    <th>客户</th>
                    <th>电站地址</th>
                    <th>投运时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++) {
                    <tr>
                        <td>@(i+1)</td>
                        <td>@Model[i].Name</td>
                        <td>X</td>
                        <td>@Model[i].InstalledPower</td>
                        <td>@Model[i].InstalledCapacity</td>
                        <td>@Model[i].Owner</td>
                        <td>@Model[i].LocationDetails</td>
                        <td>@Model[i].StartTime</td>
                        <td class="gap-1">
                            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#detailModal" data-id="@Model[i].Id">查看</button>
                            <a class="btn btn-outline-primary btn-sm" asp-controller="PowerStationManagement" asp-action="EditPowerStation" asp-route-id="@Model[i].Id">修改</a>
                            <button class="btn btn-outline-danger btn-sm" onclick="deleteStation(@Model[i].Id)">删除</button>
                            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#bindCabinetModal" data-name="@Model[i].Name" data-id="@Model[i].Id">绑定电站</button>
                            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#bindUserModal" data-name="@Model[i].Name" data-id="@Model[i].Id">绑定用户</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@await Html.PartialAsync("~/Views/PowerStationManagement/_IndexViewDetailsModal.cshtml")
@await Html.PartialAsync("~/Views/PowerStationManagement/_IndexBindCabinetModal.cshtml")
@await Html.PartialAsync("~/Views/PowerStationManagement/_IndexBindUserModal.cshtml")

@section Scripts{
<script>
    var addPowerStationUrl = '@Url.Action("AddPowerStation", "PowerStationManagement")';
    var seeDetailsUrl = '@Url.Action("GetPowerStationInfoById", "PowerStationManagement")';
    var deletePowerStationUrl = '@Url.Action("DeletePowerStation", "PowerStationManagement")';
    var getAllCabinetListUrl = '@Url.Action("GetAllCabinetList", "PowerStationManagement")';
    var bindCabinetToPowerStationUrl = '@Url.Action("BindCabinetToPowerStation", "PowerStationManagement")';
    var getAllUserListUrl = '@Url.Action("GetAllBindUserList", "PowerStationManagement")';
    var bindPowerStationToUserUrl = '@Url.Action("BindPowerStationToUser", "PowerStationManagement")';

</script>
<script src="~/js/PowerStationManagement/see_details.js"></script>
<script src="~/js/PowerStationManagement/bind_cabinet.js"></script>
<script src="~/js/PowerStationManagement/bind_user.js"></script>
<script src="~/js/PowerStationManagement/delete_powerstation.js"></script>
}